<!DOCTYPE HTML>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="description" content="结婚请柬" />
  <meta name="keywords" content="结婚请柬" />
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="x5-page-mode" content="app" />
  <meta name="Robots" content="all" />
  <meta content="telephone=no" name="format-detection" />
  <title>结婚请柬</title>

  <script src="/js/pace.min.js"></script>

  <link rel="icon" href="/favicon.ico">
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/loading.css">
  <link rel="stylesheet" href="/css/stage.css">
  <link rel="stylesheet" href="/css/swiper.min.css">
  <script src="/js/jquery.min.js"></script>
  <script src="/js/swiper.min.js"></script>
</head>

<body>
  <div class="invisible">
    <audio id="song" src="" autoplay></audio>
  </div>
  <div class="center">
    <div class="songCtrlWrap">
      <div class="songTip">点这个随机切歌→</div>
      <i id="songCtrl">R</i>
    </div>
    <div class="loadingCover">
      <div class="mask"></div>
      <div class="heartShaped"></div>
      <div class="textMagic" data-word="Charging">
        Charging...
      </div>
      <div style="font-size:20px;font-weight:bold;">2018年4月15日 河南 · 安阳</div>
    </div>
    <div class="stage hide">
      <div class="tell">
        <div class="tobeWrap">
          <img src="/img/tobe.png" style="position:absolute;right:0;bottom:150px">
        </div>
        <div class="rect">
          <div class="phase p1">
            <img src="/img/rl.jpg" alt="" style="width:100%;top:30px;left:0;">
            <img src="/img/baby_g.png" alt="" class="dropBabyG">
            <img src="/img/baby_b.png" alt="" class="dropBabyB">
          </div>
          <div class="phase p2">
            <img src="/img/dx50.jpg" style="width:100%" class="dx50">
            <div class="heartShapedWrap">
              <div class="heartShaped"></div>
            </div>
          </div>
          <div class="phase p3">
            <img src="/img/bookp.jpg">
            <img src="/img/book.jpg" class="imgBook">
            <img src="/img/road.jpg" class="imgRoad">
          </div>
        </div>
        <div class="aside">
          <p></p>
        </div>
      </div>
      <div class="photo">
        <div class="swipeMask">
          <p class="circle"></p>
        </div>
        <div class="swiper-container">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <img src="/img/p1.jpg">
            </div>
            <div class="swiper-slide">
              <img src="/img/p2.jpg">
            </div>
            <div class="swiper-slide">
              <img src="/img/p3.jpg">
            </div>
            <div class="swiper-slide">
              <img src="/img/p4.jpg">
            </div>
            <div class="swiper-slide">
              <img src="/img/p5.jpg">
            </div>
            <div class="swiper-slide">
              <img src="/img/p6.jpg">
              <p style="color:#C11C06;width:100%;text-align:center;font-size:28px;font-weight:bold;position:relative;top:-100px;text-shadow:0 0 4px #fff;">余生，请多指教</p>
            </div>
            <div class="swiper-slide info">
              <div class="card">
                <p>婚礼日期：2018年4月15日 星期天</p>
                <p>婚礼地址：河南省安阳市殷都区王邵村</p>
                <div style="position:relative;" class="map">
                  <a href="https://map.baidu.com/mobile/webapp/place/detail/qt=ninf&wd=%E5%AE%89%E9%98%B3%E5%B8%82%20%E7%8E%8B%E9%82%B5%E6%9D%91&c=267&searchFlag=bigBox&version=5&exptype=dep&src_from=webapp_all_bigbox&sug_forward=&src=0&uid=6113ef77bd8f61148e772760&industry=life&qid=3258085287250447703/showall=1&pos=0&da_ref=listclk&da_qrtp=11&da_adtp=&da_log=&da_adquery=%E5%AE%89%E9%98%B3%E5%B8%82%20%E7%8E%8B%E9%82%B5%E6%9D%91&da_adtitle=%E7%8E%8B%E9%82%B5%E6%9D%91&da_adindus=%E8%A1%8C%E6%94%BF%E5%9C%B0%E6%A0%87;%E6%9D%91%E5%BA%84&detail_from=list&universalLinkCbkTag=1#place/detail/qt=ninf&wd=%E5%AE%89%E9%98%B3%E5%B8%82%20%E7%8E%8B%E9%82%B5%E6%9D%91&c=267&searchFlag=bigBox&version=5&exptype=dep&src_from=webapp_all_bigbox&src=0&uid=6113ef77bd8f61148e772760&industry=life&qid=3258085287250447703/showall=1&pos=0&da_ref=listclk&da_qrtp=11&da_adquery=%E5%AE%89%E9%98%B3%E5%B8%82%20%E7%8E%8B%E9%82%B5%E6%9D%91&da_adtitle=%E7%8E%8B%E9%82%B5%E6%9D%91&da_adindus=%E8%A1%8C%E6%94%BF%E5%9C%B0%E6%A0%87%3B%E6%9D%91%E5%BA%84&detail_from=list&universalLinkCbkTag=1&vt=map">
                    <p>导航</p>
                    <img src="/img/map.png" style="width:100%">
                  </a>
                </div>
                <p style="text-align:center">欢迎莅临王泽&amp;刘畅的婚礼</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
  <script>
    // wx.config({
    //   debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
    //   appId: '', // 必填，公众号的唯一标识
    //   timestamp: , // 必填，生成签名的时间戳
    //   nonceStr: '', // 必填，生成签名的随机串
    //   signature: '', // 必填，签名
    //   jsApiList: [
    //     'checkJsApi',
    //     'onMenuShareTimeline', 
    //     'onMenuShareAppMessage'
    //   ] // 必填，需要使用的JS接口列表
    // })
    // wx.ready(function () {
    //   wx.onMenuShareTimeline({
    //     title: '婚礼请柬', // 分享标题
    //     link: window.location.href, // 分享链接，该链接域名或路径必须与当前页面对应的公众号JS安全域名一致
    //     imgUrl: '', // 分享图标
    //     success: function () {
    //       // 用户确认分享后执行的回调函数
    //     },
    //     cancel: function () {
    //       // 用户取消分享后执行的回调函数
    //     }
    //   });
    //   wx.onMenuShareAppMessage({
    //     title: '婚礼请柬', // 分享标题
    //     desc: '这是一封神奇的请柬，即使你不来，也非得打开看一看。', // 分享描述
    //     link: window.location.href, // 分享链接，该链接域名或路径必须与当前页面对应的公众号JS安全域名一致
    //     imgUrl: '', // 分享图标
    //     type: '', // 分享类型,music、video或link，不填默认为link
    //     dataUrl: '', // 如果type是music或video，则要提供数据链接，默认为空
    //     success: function () {
    //       // 用户确认分享后执行的回调函数
    //     },
    //     cancel: function () {
    //       // 用户取消分享后执行的回调函数
    //     }
    //   });
    // })
  </script>
  <script>
    var fn = {
      rNum: function (min, max) {
        if (arguments.length == 1) {
          max = min;
          return Math.floor(Math.random() * (max + 1));
        } else {
          return Math.floor(Math.random() * (max - min + 1) + min);
        }
      },
      typing: function (obj, str, speed, callback) {
        obj.text('');
        !speed && (speed = 160);
        if (typeof speed == "function") {
          callback = speed;
          speed = 160;
        }
        var _str = '';
        var counter = 1;
        var timer = setInterval(function () {
          _str += str.substring(counter - 1, counter);
          counter++;
          obj.text(_str);
          if (counter > str.length) {
            clearInterval(timer);
            timer = null;
            !!callback && callback();
          }
        }, speed);
      },
      songs: ['28709310', '27810037', '406716270', '5044384', '5044368', '4334148', '381858',
        '1091873', '22688493', '25698005', '16435050', '368418', '27731261'
      ],
      getSongUrl: function () {
        return 'http://music.163.com/song/media/outer/url?id=' + this.songs[this.rNum(this.songs.length - 1)] +
          '.mp3'
      },
      setSongUrl: function (url) {
        $('#song').attr('src', url)
        return $('#song')
      }
    }
  </script>
  <script>
    $(function () {
      $('#song')[0].oncanplay = function (e) {
        this.play()
      }
      $('#song')[0].onended = function (e) {
        fn.setSongUrl(fn.getSongUrl())
      }
      $('#songCtrl').on('click', function (e) {
        e.stopPropagation
        fn.setSongUrl(fn.getSongUrl())
      })
      Pace.on('done', function () {
        var timer = setTimeout(function () {
          alert('笨蛋，按屏幕！！！')
        }, 8000);
        $('.loadingCover .mask').css('opacity', '0')
        $('.loadingCover .textMagic').attr('data-word', 'Tap to start!').text('Tap to start!')
        $('.loadingCover')
          .one('click', function (e) {
            e.stopPropagation
            $('#song')[0].play()
            $('.songTip').hide()
            clearTimeout(timer)
            $(this).addClass('fadeScaleOut')
            $('.stage')
              .addClass('fadeScaleIn')
              .one('webkitAnimationEnd', function () {
                act_p1()
              })
          })
          .one('webkitAnimationEnd', function () {
            $(this).hide()
          })

      })

      function act_p1() {
        $('.p1').addClass('action')
        fn.typing($('.stage .aside p'), '1989年10月14日，他和她出生了……', function () {
          setTimeout(() => {
            fn.typing($('.stage .aside p'), '从此，他和她走上了不同的道路……', function () {
              setTimeout(() => {
                $('.p1').removeClass('action')
                act_p2()
              }, 1400);
            })
          }, 1400);
        })
      }

      function act_p2() {
        $('.p2').addClass('action')
        fn.typing($('.stage .aside p'), '直到2014年3月的一天，他在大家坛上卖播放器，她看上了他在大家坛卖的播放器......', function () {
          setTimeout(() => {
            fn.typing($('.stage .aside p'), '通过DX50的介绍，他和她成功相识并，摩擦出爱的火花 (￣y▽￣)', function () {
              setTimeout(() => {
                $('.p2').removeClass('action')
                act_p3()
              }, 1400);
            })
          }, 1000);
        })
      }

      function act_p3() {
        $('.p3').addClass('action')
        fn.typing($('.stage .aside p'), '经过3年半的马拉松，终于迎来了新的开始', function () {
          setTimeout(() => {
            fn.typing($('.stage .aside p'), '2017年9月6日，他们领证啦！♥', function () {
              setTimeout(() => {
                fn.typing($('.stage .aside p'), '接下来请欣赏固定节目：婚纱照', function () {
                  setTimeout(() => {
                    $('.tobeWrap').show(400)
                    var tobeX, tobeY
                    $('.tobeWrap').one('touchstart', function (e) {
                      console.log(e)
                      tobeX = parseInt(e.originalEvent.changedTouches[0].pageX)
                      tobeY = parseInt(e.originalEvent.changedTouches[0].pageY)
                    })
                    $('.tobeWrap').one('touchend', function (tobee) {
                      var tobeEndX = parseInt(tobee.originalEvent.changedTouches[0].pageX)
                      var tobeEndY = parseInt(tobee.originalEvent.changedTouches[0].pageY)
                      if (tobeEndX - tobeX < -20) {
                        $('.tell').hide(800, function () {
                          $('.photo').addClass('action')

                          var mySwiper = new Swiper('.swiper-container', {
                            direction: 'vertical',
                            mousewheel: true,
                            watchSlidesProgress: true,
                            on: {
                              init: function () {
                                this.myIndex = 0;
                              },
                              progress: function () {
                                for (var i = 0; i < this.slides.length; i++) {
                                  var slide = this.slides.eq(i);
                                  var progress = this.slides[i].progress;
                                  var translate, boxShadow;
                                  translate = progress * this.height * 0.8;
                                  scale = 1 - Math.min(Math.abs(progress *
                                    0.2), 1);
                                  if (i == this.myIndex) {
                                    slide.transform('translate3d(0,' + (
                                        translate) +
                                      'px,0) scale(' + scale + ')');
                                    slide.css({
                                      'z-index': 0,
                                      'boxShadow': '0px 0px 10px rgba(0,0,0,.5)'
                                    });
                                  }
                                }
                              },
                              transitionEnd: function () {
                                $('.swipeMask').hide()
                                this.myIndex = this.activeIndex;
                                for (var i = 0; i < this.slides.length; i++) {
                                  var slide = this.slides.eq(i);
                                  slide.transform('');
                                  slide.css('z-index', 1);
                                }
                                this.mousewheel.enable();
                              },
                              setTransition: function (speed) {
                                for (var i = 0; i < this.slides.length; i++) {
                                  var slide = this.slides.eq(i);
                                  slide.transition(speed + 'ms');
                                }
                                this.mousewheel.disable();
                              }
                            }
                          });

                          var startX, startY

                          $('.swipeMask').one('touchstart', function (e) {
                            console.log(e)
                            startX = parseInt(e.originalEvent.changedTouches[0]
                              .pageX)
                            startY = parseInt(e.originalEvent.changedTouches[0]
                              .pageY)
                          })
                          $('.swipeMask').one('touchend', function (e) {
                            var endX = parseInt(e.originalEvent.changedTouches[
                              0].pageX)
                            var endY = parseInt(e.originalEvent.changedTouches[
                              0].pageY)
                            if (endY - startY < -20) {
                              $(this).hide()
                              mySwiper.slideNext()
                            }
                          })
                        })
                      }
                    })
                  }, 800);
                })
              }, 800);
            })
          }, 800);
        })
      }
    })
  </script>
</body>

</html>