<!DOCTYPE HTML>
<html>

<head>
  <title>结婚请柬</title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="description" content="结婚请柬" />
  <meta name="keywords" content="结婚请柬" />
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="x5-page-mode" content="app" />
  <meta name="Robots" content="all" />
  <meta content="telephone=no" name="format-detection" />
</head>

<body>
  <div class="stage"></div>
  <p>当前时间：
    <%= currentTime %>
  </p>
</body>

</html>