html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.center {
  width: 100%;
  height: 100%;
  position: relative;
  background: deeppink;
  background: repeating-linear-gradient(45deg, #ec9f9f, #ec9f9f 40px, #fbfbfb 0, #d4d4d4 80px)
}

@media screen and (min-width: 640px) {
  .center {
    width: 640px;
    margin: 0 auto;
  }
}

.mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
}

.loadingCover {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99999;
}

.loadingCover .mask {
  background-color: #000;
  opacity: .8;
}

.heartShaped {
  position: absolute;
  top: 40%;
  left: 50%;
  background: rgb(255, 35, 76);
  width: 140px;
  height: 140px;
  line-height: 140px;
  text-align: center;
  color: white;
  font-size: 12px;
  box-shadow: 0 0 20px 2px rgb(255, 35, 76);
  animation: heartBeat 1.4s ease-in-out infinite both;
  -webkit-animation: heartBeat 1.4s ease-in-out infinite both;
}

@keyframes heartBeat {
  0%,
  20%,
  100% {
    transform: translate3d(-50%, -50%, 0) rotate(45deg) scale(1);
  }
  10%,
  30% {
    transform: translate3d(-50%, -50%, 0) rotate(45deg) scale(.8);
  }
  80% {
    transform: translate3d(-50%, -50%, 0) rotate(45deg) scale(1.1);
  }
}

@-webkit-keyframes heartBeat {
  0%,
  20%,
  100% {
    -webkit-transform: translate3d(-50%, -50%, 0) rotate(45deg) scale(1);
  }
  10%,
  30% {
    -webkit-transform: translate3d(-50%, -50%, 0) rotate(45deg) scale(.8);
  }
  80% {
    -webkit-transform: translate3d(-50%, -50%, 0) rotate(45deg) scale(1.1);
  }
}

.heartShaped:before,
.heartShaped:after {
  content: '';
  position: absolute;
  top: 0;
  left: -70px;
  width: 140px;
  height: 140px;
  border-radius: 50%;
  background: rgb(255, 35, 76);
  z-index: -1;
  box-shadow: 0 0 20px 2px rgb(255, 35, 76);
}

.heartShaped:after {
  top: -70px;
  left: 0;
}

.textMagic,.textMagic2 {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  font-size: 36px;
  font-family: Raleway, Verdana, Arial;
  white-space: nowrap;
}

.textMagic:before,.textMagic2::before {
  content: attr(data-word);
  position: absolute;
  top: 0;
  left: 0.5px;
  height: 0px;
  color: rgba(100, 100, 100, .9);
  overflow: hidden;
  z-index: 2;
  animation: redShadow 1s ease-in infinite;
  -webkit-animation: redShadow 1s ease-in infinite;
  filter: contrast(200%);
  -webkit-filter: contrast(200%);
  text-shadow: 0.1px 0 0 red;
}

.textMagic:after,.textMagic2::after {
  content: attr(data-word);
  position: absolute;
  top: 0;
  left: -3px;
  height: 36px;
  color: rgba(100, 100, 100, .8);
  overflow: hidden;
  z-index: 3;
  animation: redHeight 1.5s ease-out infinite;
  -webkit-animation: redHeight 1.5s ease-out infinite;
  filter: contrast(200%);
  -webkit-filter: contrast(200%);
}

@keyframes redShadow {
  20% {
    height: 32px;
  }
  60% {
    height: 6px;
  }
  100% {
    height: 42px;
  }
}

@-webkit-keyframes redShadow {
  20% {
    height: 32px;
  }
  60% {
    height: 6px;
  }
  100% {
    height: 42px;
  }
}

@keyframes redHeight {
  20% {
    height: 42px;
  }
  35% {
    height: 12px;
  }
  50% {
    height: 40px;
  }
  60% {
    height: 20px;
  }
  70% {
    height: 34px;
  }
  80% {
    height: 22px;
  }
  100% {
    height: 0px;
  }
}

@-webkit-keyframes redHeight {
  20% {
    height: 42px;
  }
  35% {
    height: 12px;
  }
  50% {
    height: 40px;
  }
  60% {
    height: 20px;
  }
  70% {
    height: 34px;
  }
  80% {
    height: 22px;
  }
  100% {
    height: 0px;
  }
}

.fadeScaleOut {
  animation: fadeScaleOut 1s ease-out both;
}

@keyframes fadeScaleOut {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(2);
  }
}

@-webkit-keyframes fadeScaleOut {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(2);
  }
}