.hide {
  display: none;
}

.stage,
.tell {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.stage::before {
  content: "";
  display: table;
}

.rect {
  width: 280px;
  height: 340px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 5px #fff;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

.phase {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}

.phase.action {
  display: block;
}

.phase img {
  position: absolute;
}

.aside {
  width: 100%;
  text-align: center;
  margin: 30px 0 0;
}

.aside p {
  font-size: 22px;
  font-weight: bold;
  padding: 0 20px;
}

.fadeScaleIn {
  display: block;
  animation: fadeScaleIn 1s ease-out both;
}

@keyframes fadeScaleIn {
  0% {
    opacity: 0;
    transform: scale(2);
  }
  20% {
    opacity: 0;
    transform: scale(2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@-webkit-keyframes fadeScaleIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(2);
  }
  20% {
    opacity: 0;
    -webkit-transform: scale(2);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
  }
}

.dropBabyG,
.dropBabyB {
  top: -300px;
  left: 100px;
}

.action .dropBabyB {
  transform: rotate3d(0, 0, 1, -30deg);
  animation: dropBabyB 3.6s linear .8s both;
  -webkit-animation: dropBabyB 3.6s linear .8s both;
}

@keyframes dropBabyB {
  0% {
    transform: rotate3d(0, 0, 1, -30deg);
    top: -300px;
    left: 100px;
  }
  30% {
    transform: rotate3d(0, 0, 1, -30deg) scale3d(1, 1, 1);
    top: 130px;
    left: 100px;
  }
  35%,
  65% {
    transform: rotate3d(0, 0, 1, -30deg) scale3d(1, 0.8, 1);
  }
  40% {
    transform: rotate3d(0, 0, 1, -30deg) scale3d(1, 1, 1);
    top: 110px;
    left: 85px;
  }
  50% {
    transform: rotate3d(0, 0, 1, -30deg) scale3d(1, 0.8, 1);
    top: 130px;
    left: 70px;
  }
  60% {
    transform: rotate3d(0, 0, 1, -30deg) scale3d(1, 1, 1);
    top: 110px;
    left: 55px;
  }
  70%,
  85% {
    transform: rotate3d(0, 0, 1, -30deg) scale3d(1, 1, 1);
    top: 130px;
    left: 40px;
  }
  100% {
    top: 150px;
    left: -100px;
  }
}

.action .dropBabyG {
  transform: rotate3d(0, 0, 1, 30deg);
  animation: dropBabyG 3.6s linear 1.6s both;
  -webkit-animation: dropBabyG 3.6s linear 1.6s both;
}

@keyframes dropBabyG {
  0% {
    transform: rotate3d(0, 0, 1, 30deg);
    top: -300px;
    left: 100px;
  }
  30% {
    transform: rotate3d(0, 0, 1, 30deg) scale3d(1, 1, 1);
    top: 130px;
    left: 100px;
  }
  35%,
  65% {
    transform: rotate3d(0, 0, 1, 30deg) scale3d(1, 0.8, 1);
  }
  40% {
    transform: rotate3d(0, 0, 1, 30deg) scale3d(1, 1, 1);
    top: 110px;
    left: 115px;
  }
  50% {
    transform: rotate3d(0, 0, 1, 30deg) scale3d(1, 0.8, 1);
    top: 130px;
    left: 130px;
  }
  60% {
    transform: rotate3d(0, 0, 1, 30deg) scale3d(1, 1, 1);
    top: 110px;
    left: 145px;
  }
  70%,
  85% {
    transform: rotate3d(0, 0, 1, 30deg) scale3d(1, 1, 1);
    top: 130px;
    left: 160px;
  }
  100% {
    top: 150px;
    left: 300px;
  }
}

.dx50 {
  opacity: 0;
}

.action .dx50 {
  animation: fade .8s linear both;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.heartShapedWrap {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.action .heartShapedWrap {
  animation: fade8 .8s linear 5s both;
}

@keyframes fade8 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: .8;
  }
}

.stage .heartShaped {
  top: 50%;
  width: 120px;
  height: 120px;
  animation: heartBeat 1.4s ease-in-out infinite both;
}

.stage .heartShaped::before,
.stage .heartShaped::after {
  width: 120px;
  height: 120px;
}

.p3 {
  overflow: hidden;
  transform: translate3d(-101%, 0, 0);
}

.p3.action {
  animation: LtoR .8s ease-in both;
}

@keyframes LtoR {
  0% {
    transform: translate3d(-101%, 0, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}

.imgBook {
  opacity: 0;
  z-index: 99;
}

.action .imgBook {
  animation: fade .8s linear 3.6s both;
}

.imgRoad {
  height: 100%;
  transform: translate3d(-101%, 0, 0);
  z-index: 999;
}

.action .imgRoad {
  animation: LtoR .8s ease-out 8s both;
}

.tobeWrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(204, 204, 204, 0.7);
  display: none;
  z-index: 9999;
}

.tobeWrap img {
  animation: bounceR .8s ease-in-out infinite alternate;
}

@keyframes bounceR {
  0% {
    transform: translate3d(0, 0, 0)
  }
  100% {
    transform: translate3d(-50px, 0, 0)
  }
}

.photo {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: none;
  z-index: 99;
}

.photo.action {
  display: block;
  animation: fade .8s linear both;
}

.swiper-container,
.swiper-slide {
  height: 100%;
}

.swiper-slide {
  overflow: hidden;
}

.swiper-slide>img {
  width: 100%;
}

.swipeMask {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
}

.swipeMask .circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, .9);
  box-shadow: 0 0 0 8px rgba(255, 255, 255, .5);
  position: absolute;
  left: 50%;
  top: 55%;
  transform: translate3d(-50%, -50%, 0);
  animation: swipeUp 2s ease-in-out infinite;
}

@keyframes swipeUp {
  0% {
    top: 55%;
  }
  70%,
  100% {
    top: 40%;
  }
}

.info {
  background-color: rgb(255, 248, 230);
}

.card {
  width: 320px;
  height: 440px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  box-shadow: 10px 10px 0 #e4e4e4;
  background-color: #fff;
}

.card>p {
  font-size: 22px;
  padding: 10px 4px;
}

.map p {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 28px;
  text-align: center;
  line-height: 28px;
  font-size: 18px;
  color: #fff;
  background-color: rgba(78, 78, 78, 0.6);
}

@media screen and (min-width:319px) {
  .rect {
    margin-top: 30px;
  }
}

@media screen and (min-width:374px) {
  .rect {
    margin-top: 50px;
  }
}

@media screen and (min-width:400px) {
  .rect {
    margin-top: 80px;
  }
}