.hide {
  display: none;
}

.stage,
.tell {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.stage::before {
  content: "";
  display: table;
}

.rect {
  width: 280px;
  height: 340px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 5px #fff;
  margin: 0 auto;
  overflow: hidden;
}

.phase {
  width: 100%;
  height: 100%;
  position: relative;
}

.phase img {
  position: absolute;
}

.aside {
  width: 100%;
  text-align: center;
  margin: 30px 0 0;
}

.aside p {
  font-size: 18px;
  font-weight: bold;
}

.fadeScaleIn {
  display: block;
  animation: fadeScaleIn 1s ease-out both;
}

@keyframes fadeScaleIn {
  0% {
    opacity: 0;
    transform: scale(2);
  }
  20% {
    opacity: 0;
    transform: scale(2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@-webkit-keyframes fadeScaleIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(2);
  }
  20% {
    opacity: 0;
    -webkit-transform: scale(2);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
  }
}

.dropBabyG,
.dropBabyB {
  top: -300px;
  left: 100px;
}

.action .dropBabyB {
  transform: rotate3d(0, 0, 1, -30deg);
  animation: dropBabyB 2s ease-in-out .8s both;
  -webkit-animation: dropBabyB 2s ease-in-out .8s both;
}

@keyframes dropBabyB {
  0% {
    transform: rotate3d(0, 0, 1, -30deg);
    top: -300px;
    left: 100px;
  }
  60% {
    transform: rotate3d(0, 0, 1, -30deg) scale3d(1, 1, 1);
    top: 130px;
    left: 100px;
  }
  65%,95%{
    transform: rotate3d(0, 0, 1, -30deg) scale3d(1, 0.8, 1);
  }
  70% {
    transform: rotate3d(0, 0, 1, -30deg) scale3d(1, 1, 1);
    top: 110px;
    left: 85px;
  }
  80% {
    transform: rotate3d(0, 0, 1, -30deg) scale3d(1, 0.8, 1);
    top: 130px;
    left: 70px;
  }
  90% {
    transform: rotate3d(0, 0, 1, -30deg) scale3d(1, 1, 1);
    top: 110px;
    left: 55px;
  }
  100% {
    transform: rotate3d(0, 0, 1, -30deg) scale3d(1, 1, 1);
    top: 130px;
    left: 40px;
  }
}

.action .dropBabyG {
  transform: rotate3d(0, 0, 1, 30deg);
  animation: dropBabyG 2s ease-in-out 1.6s both;
  -webkit-animation: dropBabyG 2s ease-in-out 1.6s both;
}

@keyframes dropBabyG {
  0% {
    transform: rotate3d(0, 0, 1, 30deg);
    top: -300px;
    left: 100px;
  }
  60% {
    transform: rotate3d(0, 0, 1, 30deg) scale3d(1, 1, 1);
    top: 130px;
    left: 100px;
  }
  65%,95%{
    transform: rotate3d(0, 0, 1, 30deg) scale3d(1, 0.8, 1);
  }
  70% {
    transform: rotate3d(0, 0, 1, 30deg) scale3d(1, 1, 1);
    top: 110px;
    left: 115px;
  }
  80% {
    transform: rotate3d(0, 0, 1, 30deg) scale3d(1, 0.8, 1);
    top: 130px;
    left: 130px;
  }
  90% {
    transform: rotate3d(0, 0, 1, 30deg) scale3d(1, 1, 1);
    top: 110px;
    left: 145px;
  }
  100% {
    transform: rotate3d(0, 0, 1, 30deg) scale3d(1, 1, 1);
    top: 130px;
    left: 160px;
  }
}

@media screen and (min-width:319px) {
  .rect {
    margin-top: 30px;
  }
}

@media screen and (min-width:374px) {
  .rect {
    margin-top: 50px;
  }
}

@media screen and (min-width:400px) {
  .rect {
    margin-top: 80px;
  }
}