html,
body {
  padding: 0;
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  width: 100%;
  height: 100%;
}

.heartShaped {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  background: rgba(255, 20, 147, .85);
  width: 140px;
  line-height: 140px;
  text-align: center;
  color: white;
  font-size: 12px;
}

.heartShaped:before,
.heartShaped:after {
  content: '';
  position: absolute;
  top: 0;
  left: -70px;
  width: 140px;
  height: 140px;
  border-radius: 50%;
  background: rgb(255, 20, 147);
  z-index: -1;
}

.heartShaped:after {
  top: -70px;
  left: 0;
}